/* Navigation Styles */
nav {
    background-color: darkblue;
    padding: 10px;
  }
  
  nav a {
    color: white;
    display: block;
    padding: 20px;
  }
  
  /* Heading Styles */
  h1 {
    color: darkblue;
  }

  /* styles/styles.css */

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

  
  /* Image in Main Section (Profile) */
  main img {
    width: 150px;
    height: auto;
    border: 1px solid darkblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
  }
  
  /* Paragraphs */
  p {
    padding: 0;
  }
  
  /* Aside Section */
  aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
  }
  
  /* Image in Aside Section */
  aside img {
    width: 150px;
    height: auto;
  }
  
  /* Footer */
  footer {
    margin-top: 2rem;
    border-top: 1px solid #ccc;
    text-align: center;
  }
  
  .hero {
    position: relative;
    text-align: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent1-color);
    font-size: 3rem;
    background-color: rgba(0, 78, 137, 0.6);
    padding: 10px 20px;
    border-radius: 8px;
}

.hero article {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 78, 100, 0.8);
    padding: 20px;
    color: white;
    width: 60%;
    border-radius: 8px;
}

.hero article img {
    float: right;
    margin-left: 20px;
    width: 150px;
    height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

nav a {
  font-family: 'Lato', sans-serif;
}


